<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Take_home_test</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
	<style>
		.modal {
			display: none;
			position: fixed;
			z-index: 1000;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba( 255, 255, 255, .8 ) url('https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif') 50% 50% no-repeat;
		}

		body.loading .modal {
			overflow: hidden;
		}

		body.loading .modal {
			display: block;
		}
	</style>
</head>
<body>
	<div class="modal"></div>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2021 - Take_home_test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)

	@* Loading process... *@
	<script type="text/javascript">
		$body = $("body");
		$(document).on({
			ajaxStart: function () { $body.addClass("loading"); },
			ajaxStop: function () { $body.removeClass("loading"); }
		});
	</script>

</body>
</html>
